.root{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    --verde: #82C491
}

.registro{
  width: 50rem;
  height: 50rem;
  background-color: var(--blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  font-size: 1.5rem;
}
.form_registro{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}
.boton{
  cursor: pointer;
  background-color: var(--verde);
  border: none;
  border-radius: 5px;
  margin: 0.5rem;
  height: 3rem;
  width: 3rem;
}