.root{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.form_select_tabla{
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: yellow;
}