:root{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  --verde: #82C491;
  --blanco: #ffffff;
  --azul: #13B7F2;
}

.registro{
  width: 80%;
  height: 80%;
  background-color: var(--blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: auto auto;
  font-size: 1.5rem;
}
.form_registro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 60%;
  height: 60%;
}
.label{
  margin-top: 1rem;
  width: 60%;
  height: auto;
}
.input_s{
  width: 100%;
  height: 2rem;
}
.boton{
  cursor: pointer;
  background-color: var(--verde);
  border: none;
  border-radius: 5px;
  margin: 0.5rem;
  height: 2.5rem;
  width: auto;
}
.boton_r{
  cursor: pointer;
  background-color: var(--azul);
  border: none;
  border-radius: 5px;
  margin: 0.5rem;
  height: 2.5rem;
  width: auto;
}