:root{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  --verde: #82C491;
  --verde_nav: #96EBBB;
  --gris: #E4F0F0;
  --blanco: #ffffff;
  --azul: #CAEDE6;
  --verde_claro: #DEFFF1;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.2rem;
}
label{
  font-size: 1.5rem;
}

.nav{
  background-color: var(--verde_nav);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.7rem 0.7rem;
  height: 5rem;
}
.prin{
  display: flex;
  background-color: var(--verde_claro) ;
  justify-content: center;
  align-items: center;
  min-height: 7rem;
  height: auto;
  width: 95%;
  margin: 1rem auto;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.registro{
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  font-size: 1.5rem;
}
.form_registro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 60%;
  height: 60%;
}
.label{
  margin-top: 1rem;
  width: 60%;
  height: auto;
}
.input_s{
  width: 100%;
  height: 2rem;
}
.boton{
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 0.5rem;
  height: 2.5rem;
  width: auto;
  font-size: 1.2rem;
}
.boton_verde{
  background-color: var(--verde);
}
.boton_azul{
  background-color: var(--azul);
}